@import '../../scss//abstracts/mixins';

.__ {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    color: #fff;

    >div {
        overflow-y: auto;
        padding: 30px 5px;
        box-sizing: border-box;
        margin-top: 40px;
        @include apply-scroll();
    }

    &poster {
        border-radius: 16px;
        border: #fff solid 2px;
    }

    &details {
        gap: 50px;
        padding-left: 20px;

        p {
            font-size: 32px;
        }

        div {
            display: flex;
            gap: 10px;
            padding-bottom: 5px;
            border-bottom: #fff solid 1px;

            &:last-of-type {
                border-bottom: none;
            }

        }
    }

    &info {
        display: flex;
        gap: 20px;

        p {
            font-size: 24px;
        }
    }

    &ratings {
        display: flex;
        gap: 20px;
        justify-content: space-around;

        div {
            margin: 20px;
            display: flex;
            border: solid 1px #fff;
            padding: 15px 10px;
            border-radius: 8px;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            max-height: 70px;
        }
    }
}


@media screen and (max-width: 600px) {
    .__ {
        h1 {
            font-size: 22px;
        }

        &info {
            p {
                font-size: 14px;
            }
        }

        &poster {
            margin-top: 10px;
        }

        &ratings {

            div {
                margin: none;
            }
        }
    }
}